* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.nav-container {
  height: 120px;
  width: 100%;
  background-color: #1d221d;
  /* background-color: #73c2fb; */
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: static;
}

.logo {
  font-size: 30px;
  font-weight: normal;
}
.logo :hover {
  color: #fbdc0f;
  cursor: pointer;
  transition: 1.5s ease-out;
}
.navlinks {
  display: flex;
  column-gap: 30px;
  font-size: 22px;
  font-weight: normal;
}
.navlinks a {
  text-decoration: none;
  font-size: 26px;
  color: white;
}

.navlinks a:hover {
  color: #fbdc0f;
  cursor: pointer;
  transition: 1.5s ease-out;
}

.container-01 {
  /* height: 800px; */

  background-image: url(../image/Hero-bg.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  display: flex;

  /* justify-content: space-around; */
  /* justify-content: center; */
  width: 100%;
}
.hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  margin-left: 250px;
  color: #1d2226;
}

.hero-overlay h1 {
  font-size: 100px;
  font-weight: bold;
}
.hero-overlay h2 {
  font-size: 40px;
  font-weight: normal;
}
.hero-overlay p {
  font-size: 20px;
  font-weight: bold;
}

.hero-overlay button {
  height: 65px;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  background-color: white;
  color: #1d221d;
  border: none;
  border-radius: 5px;
}
.hero-overlay button:hover {
  background-color: #1d221d;
  color: #ffffff;
  /* opacity: calc(40%); */
  transition: 1.5s;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #888888;
  cursor: pointer;
}
.buttons-01 {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}

.socials a {
  color: #1d221d;
  font-size: 32px;
  text-decoration: none;
  padding: 30px;
}

.container-02 {
  height: 80vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  background-color: #e7f3fc;
}
.summary-image {
  background: url(../image/summary-img.png);
  width: 500px;
  height: 500px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 150px;
  border: 30px solid #1d221d;
}
.summary-image:hover {
  transform: scaleX(-1);
  transition: 2s;
}

.summary-text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 26%;
  background-color: #1d221d;
  padding: 70px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #cacaca;
  color: #ffffff;
}
.summary-text :hover {
  transform: translateX(-20px);
  animation: slideIn 1s forwards;
}

.summary-text h1 {
  font-size: 42px;
}
.summary-text p {
  font-size: 25px;
  text-align: justify;
  font-weight: 500;
}

/* ++++++++++++++++++++++++++ */
.container-03 {
  background-color: #fbdc0f;
  height: 100vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
}
.experience {
  height: 80vh;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.experience :hover {
  transform: translateX(-20px);
  animation: slideIn 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.experience h2 {
  text-align: center;
  color: #333;
  font-size: 40px;
}

.timeline {
  position: relative;
  padding-left: 20px;
}

.experience-item {
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 3px solid #1b130b;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.experience-item:nth-child(1) {
  animation-delay: 0.3s;
}

.experience-item:nth-child(2) {
  animation-delay: 0.6s;
}

.date {
  font-weight: bold;
  color: #1b130b;
  font-size: 20px;
}

.content {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #1b130b;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content h3 {
  font-size: 30px;
}
.content h4 {
  font-size: 20px;
}
.content p {
  font-size: 18px;
}

/* +++++++++++++++++++++++EDUCATION PORTION+++++++++++++++++++++++++++++++++++++ */
/* .container-03 {
  background-color: #e7f3fc;
  height: 100vh;
  display: flex;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
} */
.education {
  height: 80vh;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.education :hover {
  transform: translateX(-20px);
  animation: slideIn 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.education h2 {
  text-align: center;
  color: #333;
  font-size: 40px;
}

.timeline {
  position: relative;
  padding-left: 20px;
}

.education-item {
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 3px solid #1b130b;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.education-item:nth-child(1) {
  animation-delay: 0.3s;
}

.education-item:nth-child(2) {
  animation-delay: 0.6s;
}

.date {
  font-weight: bold;
  color: #1b130b;
  font-size: 20px;
}

.content {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #1b130b;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content h3 {
  font-size: 30px;
}
.content h4 {
  font-size: 20px;
}
.content p {
  font-size: 18px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++ */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.skills-container {
  background-color: #e7f3fc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#proj-heading {
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding: 20px;
  border: 12px solid #1d221d;
}
.skills-section {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 25px;
  padding: 20px;
  max-width: 100%;
  height: 65%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

/* Flip Card Styles */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 600px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-front img {
  /* max-width: 80%; */
  border-radius: 10px;
}

.flip-card-back {
  background-color: #1d221d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.flip-card-back h3 {
  font-size: 25px;
}
.flip-card-back p {
  font-size: 15px;
  width: 80%;
  text-align: justify;
}

.flip-card-back button {
  background-color: #1d221d;
  border: 1px solid white;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

/* Rating Bar Styles */
.rating-container {
  display: flex;
  width: 300px;
  height: 600px;
  margin-top: 30px;
  background-color: white;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-bar {
  margin: 10px 0;
}

.rating-bar p {
  margin-bottom: 5px;
  font-weight: bold;
}

.bar {
  width: 250px;
  height: 15px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  width: 0;
  background: #1d221d;
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}

/* Animation for rating bars */
.html {
  width: 90%;
}
.css {
  width: 85%;
}
.js {
  width: 75%;
}
.nodeJs {
  width: 80%;
}
.mongoDb {
  width: 85%;
}
.express {
  width: 90%;
}
.git {
  width: 85%;
}

.container-04 {
  max-width: 100%;
  height: 70vh;
  background-color: #fbdc0f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-me {
  background-color: white;
  width: 800px;
  height: 85%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  
}
.contact-me-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  row-gap: 20px;
  /* background-color: #ffffff; */
}

.contact-me-form input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid grey;
}
.contact-me-form textarea {
  padding: 30px;
}
.contact-me-form button {
  height: 65px;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  background-color: #1d221d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.contact-me-form button:hover{
  background-color: #fbdc0f;
  color: #1d221d;
  transition: 1s ease-in-out;
}
